// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #73F217;
$theme-danger:     #e74c3c;

$gray-base:			#fff !default;
$gray-darker:		darken($gray-base, 5%) !default; // #222
$gray-dark:			darken($gray-base, 10%) !default;   // #333
$gray:				darken($gray-base, 33.5%) !default; // #555
$gray-light:		darken($gray-base, 46.7%) !default; // #777
$gray-lighter:		darken($gray-base, 93.5%) !default; // #eee
